@media (min-width: 1440px) {
  /*Sessão resume*/

  .Contain,
  .Contain-carousel {
    min-width: 1440px;
  }

  .ContentArea {
    gap: 450px !important;
  }

  /* Tamanho do texto à esquerda */
  .ContainText {
    max-width: 600px;
    flex-shrink: 0;
    min-height: 280px;
  }

  /*Configiração do titulo e dos dots fora do carrosel*/
  .Resume-Header,
  .Dots-Wrapper {
    max-width: 1440px;
  }

  /*Customização dos dots*/
  .custom-dots .owl-dot span {
    height: 15px;
    width: 15px;
    border: 2px solid var(--accent-color);
  }
}

@media (max-width: 1024px) {
  .Contain {
    max-width: 1024px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Contain {
    max-width: 768px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .Contain {
    max-width: 480px;
    width: 100%;
  }
}
