/*Base*/
@import url(base/reset.css);
@import url(base/variables.css);

/*Components*/
@import url(components/btc.css);
@import url(components/nav.css);

/*Layout*/
@import url(layout/layout.css);

/*Sections*/
@import url(sections/about.css);
@import url(sections/home.css);
@import url(sections/resume.css);

/*Estilização do carrosel*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css);

/* Responsividade */
@import url(base/breakpoints.css);

/*Padronização de estilos*/
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
  row-gap: 65px;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 600;
}

.text-xlg {
  font-size: clamp(20px, 2.5vw, 48px);
  margin-bottom: 20px;
}

.text-lg {
  font-size: clamp(18px, 2vw, 38px);
  margin-bottom: 20px;
}

.text-md {
  font-size: clamp(16px, 1.5vw, 26px);
  margin-bottom: 20px;
}

.text-sm {
  font-size: clamp(14px, 1vw, 20px);
  margin-bottom: 20px;
}

.text-xsm {
  font-size: clamp(12px, 1vw, 15px);
  margin-bottom: 30px;
}
