#about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  min-height: 500px;
  background-color: var(--box-bg);
}

.about-left {
  grid-column: 2 / span 4;
  margin: auto;
}

.about-right {
  grid-column: 7 / span 2;
  margin: auto;
}

.about-left h2 {
  color: var(--accent-color-light);
}

.about-left h3 {
  color: var(--text-color);
}

.about-left p {
  color: var(--text-color);
}

.About-Picture {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About-Picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
