#home {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  min-height: 500px;
  background-color: var(--box-bg);
}

.home-right {
  grid-column: 1 / span 5;
  margin: auto;
}

.home-left {
  grid-column: 9 / span 1;
  margin: auto;
}

.Picture {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  overflow: hidden;
  transform: rotate(45deg);
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  background-color: var(--box-bg);
  /* margin-right: 70px; */
}

.Picture img {
  width: 190%;
  height: 190%;
  object-fit: cover;
  object-position: center 25px;
  transform: rotate(-45deg);
}

.Content-Description {
  background-color: var(--box-bg);
  margin-left: 30px;
}

.Content-Description .Text {
  background-color: var(--box-bg);
  color: var(--text-color);
}

.Content-Description .Developer {
  /* Texto em gradiente de cores*/
  background: linear-gradient(
    to right,
    var(--accent-color),
    var(--accent-color-light)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
