.Contain-Main {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.ContainTitle {
  text-align: center;
}

.ContentArea {
  display: flex;
  gap: clamp(100px, 12vw, 300px);
  align-items: flex-start;
  /* Garante que o conteúdo não se ajuste verticalmente quando a skill some */
  min-height: 400px;
}

/* Tamanho do texto à esquerda */
.ContainText {
  max-width: 500px;
  width: 100%;
  flex-shrink: 0;
  min-height: 180px;
}

/*Set de cores*/
.ContainTitle h2 {
  color: var(--accent-color-light);
}

.ContainText h3 {
  color: var(--accent-color-light);
}

.ContainText h4 {
  color: var(--text-color);
}

.ContainText h4 span {
  color: var(--accent-color-light);
}

/* Timeline div / Timeline left line */
.Timeline {
  position: relative;
  border-left: 2px solid var(--accent-color);
  padding-left: 35px;
  flex: 1;
}

/*Timeline itens */
.TimelineItem {
  position: relative;
}

/*Timeline Ball*/
.Dot {
  position: absolute;
  left: -30px;
  top: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--accent-color-light);
  border: 2px solid var(--bg-color);
}

/*Timeline Text set de cores*/
.Content h5 {
  color: var(--text-color);
  margin-bottom: 0;
}

.Content p {
  color: var(--text-color);
}

/*Configiração do titulo e dos dots fora do carrosel*/
.Resume-Header,
.Dots-Wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--box-bg);
  margin: 20px;
}

/*Configuração dos dots*/
.custom-dots .owl-dot {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

.custom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-dots .owl-dot {
  display: flex;
}

.owl-carousel .owl-stage-outer {
  overflow: hidden;
}

.owl-carousel .owl-stage {
  display: flex;
}

/*Customização dos dots*/
.custom-dots .owl-dot span {
  display: block;
  background-color: var(--box-bg);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 0 5px;
  border: 1px solid var(--accent-color);
}

.custom-dots .owl-dot.active span {
  background-color: var(--accent-color-light);
}

/*Customização do carrossel por inteiro*/
.Contain-carousel {
  max-width: 1280px;
  background-color: var(--box-bg);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

/*Cards skill*/

.Card {
  display: flex;
  min-width: 500px;
  width: 100%;
  flex-direction: column;
}

.Card-text {
  width: 100%;
}

.skill-tittle {
  margin-bottom: 0px;
}

.Card-body {
  padding: 10px;
  width: 100%;
}

.Card-body li {
  margin-bottom: 10px;
}

/* Progress container */
.progress {
  height: 6px;
  max-width: 400px;
  width: 100%;
  background-color: #444; /* ou var(--bg-color) */
  border-radius: 5px;
  overflow: hidden;
}

/* Barra colorida */
.progress-bar {
  height: 100%;
  background: linear-gradient(
    to right,
    var(--accent-color),
    var(--accent-color-light)
  );
  border-radius: 5px;
}

.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 0.8s ease;
}

.show {
  max-height: 520px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 2.2s ease, opacity 2.2s ease;
}
