.Contain-Main {
  align-items: flex-start;
  justify-content: center;
}

.ContainTitle {
  text-align: center;
}

.ContentArea {
  display: flex;
  gap: 350px;
}

/* Texto à esquerda */
.ContainText {
  max-width: 500px;
}

.ContainTitle h1 {
  color: var(--accent-color-light);
}

.ContainText h3 {
  color: var(--accent-color-light);
}

.ContainText h2 {
  color: var(--text-color);
}

.ContainText h2 span {
  color: var(--accent-color-light);
}

/* Timeline div / Timeline left line */
.Timeline {
  position: relative;
  border-left: 2px solid var(--accent-color);
  padding-left: 35px;
  flex: 1;
}

/*Timeline itens */
.TimelineItem {
  position: relative;
}

/*Timeline Ball*/
.Dot {
  position: absolute;
  left: -30px;
  top: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--accent-color-light);
  border: 2px solid var(--bg-color);
}

/*Timeline Text*/
.Content h3 {
  color: var(--text-color);
  margin-bottom: 0;
}

.Content p {
  color: var(--text-color);
}
