header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

main {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 65px;
}

footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}
